#Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url("../../assets/background-header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: 1;
}

#Header-Text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 250px;
  text-shadow: 2px 2px 5px #489fb5;
  font-size: 200px;
  text-decoration: underline;
}
