.body-lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin-top: 200px;
}

.title {
  font-size: 50px;
  color: white;
}
.actions {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.icons {
  cursor: pointer;
  width: 50px;
  padding: 10px;
  margin: 10px;
  border: 5px solid #6c757d;
  border-radius: 20px;
  background-color: #edf6f9;
}

.icons-off {
  width: 50px;
  padding: 10px;
  margin: 10px;
  border: 5px solid #6c757d;
  border-radius: 20px;
  background-color: #edf6f9;
}

.number {
  margin: 0;
  font-size: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
}

.menu {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.menu span {
  font-size: 40px;
  margin-right: 40px;
  color: white;
  text-decoration: underline;
}

.menu button {
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  color: #6c757d;
  border: 2px solid white;
  margin: 3px;
  transition: all 0.2s;
}

.menu button:hover {
  background-color: #6c757d;
  color: white;
}

.button-active {
  background-color: #6c757d;
  color: white !important;
}

#area_ticket {
  display: none;
}

.grafic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grafic div {
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
}

#area_ticket {
  margin-top: 20px;
  border: 4px solid white;
  border-radius: 10px;
  background-color: #adb5bd;
  margin: 30px;
}

#area_information {
  margin-top: 20px;
  background-color: #282c34;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  margin: 30px;
}

#area_information p {
  margin: 20px;
}

#information-header {
  border-radius: 10px 10px 0px 0px;
  background-color: #20232a;
  height: 60px;
}
