.center-chat {
  display: flex;
  justify-content: center;
}

.chat {
  margin-top: 20px;
  width: 80%;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.2rem;
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 20px;
  flex-grow: 1;
  height: 10px;
  font-size: 30px;
  border-radius: 2rem;
  margin: 0.25rem;
}

.icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  border: 10px solid white;
  background-color: #6c757d;
  color: white;
  padding: 10px;
}

.icon-white h1 {
  margin-left: 20px;
  font-size: 50px;
}

.icon-white img {
  width: 50px;
}

#input1 {
  font-size: 20px;
  text-align: center;
}

#input1:focus {
  outline: none;
}

#input:focus {
  outline: none;
}
#form > button {
  cursor: pointer;
  background: rgb(182, 182, 182);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  width: 100px;
  font-size: 20px;
  border-radius: 3px;
  outline: none;
  color: rgb(71, 71, 71);
}

.icon_user {
  width: 40px;
}

#messages {
  height: 300px;
  list-style-type: none;
  font-size: 25px;
  background-color: #f2f3f4;
  margin: 0;
  padding: 0;
  overflow: auto;
  scroll-behavior: auto;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

#chatLang {
  display: none;
}